@import url('http://fonts.cdnfonts.com/css/bebas-kai');

.cart-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    font-family: 'Bebas Kai', sans-serif;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 1px rgba(0,0,0,0.02), 
                0 2px 2px rgba(0,0,0,0.02), 
                0 4px 4px rgba(0,0,0,0.02), 
                0 8px 8px rgba(0,0,0,0.02),
                0 16px 16px rgba(0,0,0,0.02);
    background-color: rgb(254,254,254, 0.8);
    padding: 1rem;
}
.seguir-comprando {
  position: relative;
  bottom: 3.8rem;
  font-size: 1.2rem;
  color: rgb(155, 0, 36);
  user-select: none;
  cursor: pointer;
}
.cart-container h1 {
  font-size: 2.6rem;
  text-align: center;
}


.cart-item-container {
    align-items: center;
    display: flex;
    width: 100%;
    height: 17rem;
    justify-content: flex-start;
    padding: 0.2rem;
    margin: 2rem 0 2rem 0;
    border-bottom: rgb(40,40,40,.3) solid .1px;
}
.cart-list-container {
    display: flex;
    width: 100%;
}
.cart-item-container h3 {
    font-size: 1.8rem;
}
.swal2-popup {
    font-family: 'Bebas Kai', sans-serif !important;
  }
  .cart-list-image {
    width: 15rem;
    height: 16.5rem;
    overflow: hidden;
    margin-right: 3rem;
  }
  .cart-list-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .cart-footer {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: .1rem;
    display: flex;
    align-items: center;
    width: 30%;
    flex-direction: column;
    font-size: 2rem;
    margin-top: auto;
    background-color: rgb(255,255,255,0.3);
    border: rgb(40,40,40,.08) solid 1px;
  }
  .cart-footer div {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
  }
  .cart-footer div button {
    padding: 5px 10px;
    font-family: 'Bebas Kai', sans-serif;
    font-size: 1.5rem;
    background: rgb(155, 0, 36);
    color: rgb(255,255,255);
    cursor: pointer;
    width: 80%;
    border: none;
  }
  .cart-item-details {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
  }
  .cart-item-details h2 {
    cursor: pointer;
    font-size: 2.2rem;
  }
  .cart-item-details div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .cart-item-details div div h3 {
    margin-right: auto;
    padding: 0.2rem;
  }
  .cart-item-details div div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .modal {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(40,40,40,0.5);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-container {
    height: 90%;
    width: 70%;
    background: rgb(250,250,250);
    z-index: 6;
  }

  @media screen and (max-width: 700px) {
    .cart-container {
      width: 90%;
    }
    .cart-container h1 {
      margin-top: 2.5rem;
    }
    .seguir-comprando {
      bottom: 6rem;
    }
    .cart-footer {
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      padding: .1rem;
      display: flex;
      align-items: center;
      width: 90%;
      flex-direction: column;
      font-size: 2rem;
      margin-top: auto;
      background-color: rgb(255,255,255,0.3);
      border: rgb(40,40,40,.08) solid 1px;
    }
    .cart-item-details h3 {
      font-size: 1rem;
    }
  }