@import url('http://fonts.cdnfonts.com/css/bebas-kai');

.cart-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    font-family: 'Bebas Kai', sans-serif;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 1px rgba(0,0,0,0.02), 
                0 2px 2px rgba(0,0,0,0.02), 
                0 4px 4px rgba(0,0,0,0.02), 
                0 8px 8px rgba(0,0,0,0.02),
                0 16px 16px rgba(0,0,0,0.02);
    background-color: rgb(254,254,254, 0.6);
    padding: 1rem;
}

.cart-item-container {
    align-items: center;
    display: flex;
    width: 100%;
    height: 15rem;
    justify-content: space-between;
    padding: 0.2rem;
}
.cart-list-container {
    display: flex;
    width: 100%;
}
.cart-item-container h3 {
    font-size: 2rem;
}
.swal2-popup {
    font-family: 'Bebas Kai', sans-serif !important;
  }
  .cart-list-image {
    width: 12rem;
    height: 13rem;
    overflow: hidden;
  }
  .cart-list-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .cart-footer {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: .3rem;
    display: flex;
    align-items: center;
    width: 24%;
    flex-direction: column;
    border: .1px solid rgb(40,40,40,0.25);
    font-size: 2rem;
    margin-top: auto;
    background-color: rgb(255,255,255,0.5);
  }
  .cart-footer div {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
  }
  .cart-footer div button {
    padding: 5px 10px;
    font-family: 'Bebas Kai', sans-serif;
    font-size: 1.5rem;
    background: rgb(155, 0, 36);
    color: rgb(255,255,255);
    cursor: pointer;
    width: 80%;
    border: none;
  }
  .cart-item-details {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .cart-item-details div div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: rgb(40,40,40) .1px solid;
    padding: 1rem;
  }