@import url('http://fonts.cdnfonts.com/css/bebas');

.item-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    font-family: 'Bebas', sans-serif;
    padding: .4rem;
}
.img-detail-container {
    width: 40%;
    height: 30rem;
    overflow: hidden;
}
.img-detail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details {
    width: 55%;
    height: 84%;
}
.product-details h1 {
    margin-bottom: 2rem;
}
.details-descriptions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.details-descriptions div h2 {
    color: rgb(155, 0, 36);
    margin-top: 2rem;
    font-size: 3rem;
}
.talles-estado {
    display: flex;
    flex-direction: row;
    border: rgb(155, 0, 36) 1px solid;
    justify-content: space-around;
    align-items: center;
    color: rgb(155, 0, 36);
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}
.talles-estado div {
    width: 50%;
}
.talles-estado div h3 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
}
.medidas {
    display: flex;
    flex-direction: column;
    border-left: rgb(155, 0, 36) solid 1px;
}
.medidas p {
    padding: 5px;
}
.details-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
@media (max-width: 700px) {
    .item-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: 'Bebas', sans-serif;
    }
    .img-detail-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .product-details {
        width: 100%;
        height: 84%;
    }
    .talles-estado {
        margin-bottom: 2rem;
    }
}