.item-count-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .2px solid rgb(155, 0, 36,0.6);
    margin-top: .2rem;
}
.item-count-container button {
    cursor: pointer;
    background-color: rgba(0,0,0,0.18);
    border: none;
    margin: .5rem;
    padding: .5rem;
}