@import url('http://fonts.cdnfonts.com/css/bebas');
@import url('http://fonts.cdnfonts.com/css/bpg-arial');
.item-count-container {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: .1px solid rgb(155, 0, 36,0.1);
    margin-top: 0.1rem;
    font-family: 'BPG Arial', sans-serif;
    font-weight: bold;
    color: rgb(155, 0, 36);
}
.item-count-container p {
    padding: .5rem;
}
.btn-count {
    border: rgb(255,255,255);
    background: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
    transition: 0s;
    position: relative;
    overflow: hidden;
}
.btn-count-1,.btn-count-2 {
    color: rgb(155, 0, 36,1);
}
.btn-count-1:hover,.btn-count-2:hover {
    color: rgb(255, 255, 255);
}
.btn-count-3 {
    background: rgb(155, 0, 36,1);
    color: rgb(255,255,255);
    width: 14rem;
}
.btn-count::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(155, 0, 36,1);
    z-index: -1;
    transition: .2s;
}
.btn-count-1::before,.btn-count-2::before {
    top: 0;
    
    background: rgb(155, 0, 36,1);
}
.btn-count-3::before {
    background: rgb(255,255,255);
    height: 0%;
}
.btn-count-1:hover::before,.btn-count-2:hover::before {
    height: 100%;
}
.btn-count[disabled] {
    color: rgb(205,205,205,0.8);
    visibility: hidden;
}
.btn-count:hover[disabled] {
    background: white;
    border: none;
    visibility: hidden;
}
