@import url('http://fonts.cdnfonts.com/css/aqua');
@import url('http://fonts.cdnfonts.com/css/bonvenocf');
@import url('http://fonts.cdnfonts.com/css/bebas');

.navbar-container {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(188, 0, 45); */
    background-image: url(../../assets/img/background-navbar.jpg);
    background-size: cover;
    color: rgba(255, 250, 250,0.95);
}
.navbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
    animation-name: menu-animation;
    animation-duration: .2s;
    transition-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-user-select: none;
            user-select: none;
    cursor: pointer;
    padding: .3rem;
    border-radius: 1.5px;
    transition: 0.1s;
}
.navbar .logo:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.navbar .logo h2 {
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: -0.3rem;
}
.navbar .logo h3 {
    font-size: .55rem;
    font-family: 'Bebas', sans-serif;
    margin-top: -0.3rem;
}
.navbar .menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navbar .menu ul li {
    font-size: .78rem;
    list-style: none;
    padding: .5rem;
    margin-left: .4rem;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1px;
}
.navbar .menu ul li a {
    font-size: .78rem;
    list-style: none;
    padding: .5rem;
    margin-left: .4rem;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1px;
    color:rgba(255, 250, 250,0.95);
    text-decoration: none;
}
.navbar .menu ul li:hover a {
    border-bottom: rgba(255, 250, 250,0.95) solid 2px;
}
.navbar .img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar div img {
    max-height: 3.5rem;
}
.menu-icon {
    display: none;
    animation-name: menu-animation;
    animation-duration: .2s;
    transition-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes menu-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbar-modal {
    display: none;
}
.close-icon {
    opacity: 0;
}

.number-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 3rem;
    bottom: 1rem;
    border-radius: 10rem;
    
    color: rgba(255, 250, 250);
    width: 1rem;
    text-align:center;
    font-size: 0.7rem;
    height: 1rem;
    font-weight: 300;
    font-family: 'Bebas', sans-serif;
    user-select: none;
    animation-name: number-animation;
    animation-duration: .3s;
    transition-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes number-animation {
    0% {
        bottom: 10rem;
    }
    70% {
        bottom: .7rem;
    }
    100% {
        bottom: 1rem;
    }
}



@media screen and (max-width: 700px) {
    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar .menu {
        display: none;
    }

    .navbar-modal {
        z-index: 4;
        width: 100%;
        height: 100%;
        display: flex;
        background-image: url(../../assets/img/navbar-modal.jpg);
        left: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        color: rgb(155, 0, 36);
        font-family: 'Bebas', sans-serif;
        font-size: 4.5rem;
        justify-content: center;
        align-items: flex-start;
    }
    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }
    .navbar-modal ul li {
        list-style: none;
        margin: 1.5rem;
    }
    .navbar-modal ul li a {
        color:rgb(155, 0, 36);
        text-decoration: none;
    }
    .modal-background {
        width: 100%;
        height: 100%;
        background-color: rgba(36, 0, 0, 0.76);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        transition: 0.2s;
        animation-name: modal-animation;
        animation-duration: 1s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        z-index: 4;
    }
    @keyframes modal-animation {
        0% {
          top: -100vh;
        }
        50% {
            top: 2rem;
            bottom: -2rem;
        }
        75% {
            top: -1rem;
            bottom: -1rem;
        }
        
        100% {
          top: 0px;
        } 
    }

    .close-icon {
        top: 1rem;
        right: 1rem;
        position: absolute;
        transform: scale(2);
        color: rgb(155, 0, 36);
        opacity: 1;
    }
    .menu-icon {
        transform: scale(1.2);
        margin-right: .2rem;
    }
    .cart-icon {
        transform: scale(1.2);
    }
    .close-popup {
        width: 100%;
        height: 100%;
        background-color: rgba(36, 0, 0, 0.76);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        transition: 0.2s;
        animation-name: popup-animation;
        animation-duration: .45s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        z-index: 4;
    }
    @keyframes popup-animation {
        0% {
          top: 0;
        }
        50% {
            top: 2rem;
            bottom: -2rem;
        }
        100% {
          top: -100vh;
        } 
    }
}