.cart-icon-container {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    border-radius: 50%;
    cursor: pointer;
}



.cart-icon {
    margin: auto;
    color: rgba(255, 250, 250,0.95);
}